[user]
	email = mkoltun@vectra.ai
	name = Matt Koltun

[core]
  pager = delta
  editor = nvim
  ; autocrlf = input
  ; whitespace = cr-at-eol

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  light = false

[merge]
  conflictStyle = diff3

[diff]
  tool = delta
  colorMoved = default
